# Data Science Tools and Ecosystem

## Author
Justyn Welsh

**Objectives**

- List popular language for Data Science
- List commonly used libraries in Data Science
- Give examples of arithmetic expressions in Python.
- LEARN

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 

1. NumPy
2. Pandas
3. TensorFlow

| Data Science Tools |
|:--------:|
| Jupyter Notebook |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add intergers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335